@{
    ViewData["Title"] = "My Super Awesome Car Rental Catalog";
}

@section Styles{
<link href="~/css/catalog.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/catalog.js"></script>
}



<h1> Welcome to the Catalog of the Super Awesome Car Rental Service</h1>

