@section Styles{
<link href="~/css/register.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/register.js"></script>
}

<h1> Register a New Car at the <br>Super Awesome Car Rental</h1>
<div class="register-form">
    <div>
        <div class="form-group row">
            <label for="txtPrice" class="offset-1 col-3 col-form-label">Daily Price:</label>
            <div class="col-6">
                <input id="txtPrice" name="txtPrice" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtMake" class="offset-1 col-3 col-form-label">Make:</label>
            <div class="col-6">
                <input id="txtMake" name="txtMake" type="text" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtModel" class="offset-1 col-3 col-form-label">Model:</label>
            <div class="col-6">
                <input id="txtModel" name="txtModel" type="text" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtYear" class="offset-1 col-3 col-form-label">Year:</label>
            <div class="col-6">
                <input id="txtYear" name="txtYear" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtPassengerCapacity" class="offset-1 col-3 col-form-label">Passengers:</label>
            <div class="col-6">
                <input id="txtPassengerCapacity" name="txtPassenger Capacity" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtMilage" class="offset-1 col-3 col-form-label">Milage:</label>
            <div class="col-6">
                <input id="txtMilage" name="txtMilage" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtImageUrl" class="offset-1 col-3 col-form-label">Image:</label>
            <div class="col-6">
                <input id="txtImageUrl" name="txtImage" type="text" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtStock" class="offset-1 col-3 col-form-label">Stock:</label>
            <div class="col-6">
                <input id="txtStock" name="txtStock" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtHp" class="offset-1 col-3 col-form-label">Horse Power:</label>
            <div class="col-6">
                <input id="txtHp" name="txtHp" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtCyls" class="offset-1 col-3 col-form-label">Cylinders:</label>
            <div class="col-6">
                <input id="txtCyls" name="txtCyls" type="number" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <label for="txtDescription" class="offset-1 col-3 col-form-label">Description:</label>
            <div class="col-6">
                <input id="txtDescription" name="txtDescription" type="text" class="form-control">
            </div>

        </div>
    </div>

    <div>
        <div class="form-group row">
            <div class="offset-6 col-6">
                <button id="btnSave" type="button" class="btn btn-light">Register </button>
            </div>

        </div>
    </div>
</div>